html,
body,
.tab-content
{
    height: 100%;
    
}

.tab-pane {
    min-height: 100%;
    background-size: cover;
background: linear-gradient(to top left, white, darkblue);
}

#flag{
    width:300px;
}



/*navbar positioning*/

.navbar {
    text-align: center;
}

ul {
    display: inline-block;
}



/*map animation*/

#map {
    position: relative;
    left:35%;
    height: 300px;
    width: 300px;
    transition:1s ease-in;
}

#map:hover {
    width: 1500px;
    height: 1500px;
    
  margin-left: -500px;
  margin-top: -1100px;
}

