.navbar {
    text-align: center;
}

ul {
    display: inline-block;
}


/*map animation*/

#map {
    position: relative;
    left:35%;
    height: 300px;
    width: 300px;
    transition:1s ease-in;
}

#map:hover {
    width: 1500px;
    height: 1500px;
    
  margin-left: -900px;
  margin-top: -900px;
}

