/*canvas full size*/

html,
body,
.tab-content {
    height: 100%;
}

.tab-pane {
    min-height: 100%;
}


/*universal CSS*/

.shadow {
    box-shadow: 10px 10px 5px #888888;
}

.margin-auto {
    margin: auto;
}

body{
    color:yellow;
}


/*navbar/logo CSS*/

.navbar {
    text-align: center;
    margin-bottom: 0;
}

ul {
    display: inline-block;
}

#logo {
    width: 30px;
    height: 30px;
}

#homeLogo{
    width: 50px;
    height: 50px;
}


/*background*/

.tab-pane {
    background: url("images/sky.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
     background-blend-mode: multiply;
    background-color: rgba(0, 15, 30, 0.2);
}

#home {
    width: 100%;
    height: 100%;
    background: url('images/home/plazaNight.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffe123;
}

#location{
    background: url("images/home/flag.png") center no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 25, 50, 0.7);
}

#flag {
    width: 40%;
    height: 26.6%;
    position: relative;
    margin-left: 30%
}

#foods {
    background: url("images/foods/foodsBackground.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);
}


/*map animation*/

#map {
    position: relative;
    /*height: 100%;*/
    transition: 1s ease-in;
    margin: auto;
}

#mapContainer {
    position: relative;
    top: 10%;
    left: 5%;
    width: 90%;
    
    /*height: 100%;*/
}

#map:hover {
    transform: scale(3, 3) translate(0px, -25%);
}


/*carousel CSS*/

.carousel {
    width: 100%;
    height: 400px;
}

#carouselGrid {
    left: 8.5%;
}

.carousel-inner img {
    margin: auto;
    max-height: 400px;
    min-height: 400px;
    object-fit: contain;
}


/*work in progress*/

#entranceCol {
    position: relative;
    left: 16.6%;
}

@media (max-width: 767px) {
    .navbar li {
        display: block;
        float: none;
    }
}

.carousel-caption{
    color:gold;
}

#airlines2{
    height:50px;
}

/*.test{*/
/*     transition: 3s;*/
/*  margin-left: 50% ;*/
/*  scale()*/
/*}*/

#airlines1{
   
    position:relative;
}